.owl-stage{
  display: flex;
  align-items: center;
}

.company-img{
  max-width: 105px !important;
  margin: auto;
}

.university-card{
  background-color: transparent;
  border: none;
}

.university-img{
  max-width: 85px !important;
}

.university-text{
  font-size: 0.8rem;
  line-height: normal;
}
